
.header{
    
  background-color: hsla(360, 0%, 0%, 0.72);  
  
}

.zone{


   margin-bottom: 50px;
  cursor: pointer;
  font-size: 2em; 
  transition: all 0.3s linear;

}
 .top-bar li{
  padding: 20px;
  list-style: none;

}
.top-bar a{
  text-decoration: none;
  color: #F8F8FF;
}
.list1{
     display: flex;
  font-size: 0.5em;
  
}

.push{
     margin-left: auto;
}





.sticky{

  
  top: 0;
  width: 100%;

}

 





.cart-items{


     margin-bottom: 20px;

}





 .footer{
  margin-top: 50px;
    padding-top: 10px;
  font-size: 10px;
  text-align: center;
    color: white;
    line-height: 20px;
    user-select: none;
    background-color: hsla(360, 0%, 0%, 0.9);

}

.footer hr{

    margin-top: 10px;
    margin-left: -10px;
    background-color: #ffffff;
    width: 1130px;
  }

  .footer .row .fa{

    padding-right: 20px;
    font-size: 15px;
  }
.footer p{

  font-size: 14px;
}
.line{

  font-size: 5px;
}

.lol{

  margin-top: 50px;
}

.footer h3{

  color: hsla(31, 79%, 36%, 1);
}

.fab{

  padding: 10px;
  color: white;
  font-size: 20px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: hsla(31, 79%, 36%, 1): 

}



@media only screen and (max-width: 600px){
  .list1{
    font-size: 0.3em; 
    padding : 0;
  }
}



.fa-envelope{
 
  padding-right: 20px;
}


.logo2{

  width: 90%;
  height: 100px;

}



.cafe{
    
  
  font-family: 'Piedra', cursive;
     
  
}