*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;

}






body{

	background-image: url("pexels-arfan-a-1845829.jpg");
	background-size: cover;
	
}


.row{
	background: white;
	border-radius: 30px;
	box-shadow: 12px 12px 22px hsla(19, 78%, 32%.06);
}


img{

	border-top-left-radius: 30px;
	border-bottom-left-radius: 30px;
}


.btn{

	color: white;
	background-color:#6b3e26;
	border: none;
	outline: none;
	border-radius: 4px;
	height: 50px;
	width: 100%;
	font-weight: bold;
}

.btn:hover {

	color: #926347;
	background-color: white;
	border: 1px solid;
}


h4{

	color:#6b3e26;
}

a{

		color:#800909;
}

.fas{

          color:#6b3e26;

}